//
// Security policy for running PROJ-JNI in a security-constrained environment.
//
grant {
  permission java.util.PropertyPermission  "org.kortforsyningen.proj.maxThreadsPerTransform", "read";
  permission java.lang.RuntimePermission   "loadLibrary.libproj-binding";
};
